yolo_dataset/
unet_dataset/
mask_dataset/

Assignment 1/CamVid/
Aula Prática */

data/
runs/

*.json
*.pth

.ipynb_checkpoints
__pycache__/

Assignment 1/Deep_Learning_Assignment_1 1.ipynb
Assignment 1/Deep_Learning_Assignment_1 2.ipynb
